@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  overflow: hidden;
}


.header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%; 
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 6rem; 
}

.header.active {
  background-color: rgba(255, 255, 255, 0.9); 
}


.header .logo {
  font-size: 2.1rem;
  color: #130f40;
  font-weight: bolder;
}

.header .logo i {
  color: #e67e22;
}

.header .navbar {
  margin-left: auto; 
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.3rem;
  color: #040d46;
}

.header .navbar a:hover {
  color: #e67e22;
}



.icons {
  display: flex;
  align-items: center;
}

.icons a,
.icons div {
  font-size: 1.6rem;
  margin-left: 1.5rem;
  color: #130f40;
  cursor: pointer;
}

.icons a:hover,
.icons div:hover {
  color: #e67e22;
}



.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0c0639;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 0.6s ease;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.btn:hover::before {
  width: 0;
  height: 0;
}

.btn span {
  position: relative;
  z-index: 1;
}




.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: url(../Images/bgdog.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 6%;
}

.home .content {
  width: 50rem;
}

.home .content h3 {
  font-size: 4rem;
  color: #fff;
  padding-bottom: 1rem;
}

.home .content h3 span {
  color: #130f40;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 5rem 2rem;
  }
}

@media (max-width: 768px) {
  .header .navbar {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    background: #fff;
    clip-path: polygon(0 1%, 100% 0, 100% 0, 0 0);
    display: none; 
  }

  .header .navbar.active {
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 100%);
    display: block; 
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

footer {
  background-color: #0c0c4b;
  color: #fff;
  padding: 1rem 6rem; 
  text-align: center;

}

footer p {
  margin-bottom: 0.5rem;
  color: #fff;
}

footer a {
  color: #eeaa22;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

